* {
    box-sizing: border-box;
  }
  
  body {
    color: #575757;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
  }
  
  img {
    width: 100%;
  }
  
  /* Typography */
  
  .intro-title {
    margin: 0;
    font-size: 37px;
    font-weight: lighter;
    line-height: 54px;
  }
  
  .paragraph {
    font-size: 15px;
    line-height: 29px;
    margin: 0;
    font-weight: 500;
    color: #575757;
  }
  
  .col-title {
      margin: 0;
      font-size: 30px;
      font-weight: 600;
      color: #707070;
  }
  
  .col-1-title {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    color: #404040;
  }
  
  .col-1-sub-title {
    margin: 0;
    font-size: 15px;
    color: #298525;
    font-weight: 500;
  }
  
  .col-1-price {
    margin: 2px 0 0;
    font-size: 15px;
    font-weight: 500;
    display: flex;
  }
  
  .col-2-vendor-title {
      margin: 0;
      font-size: 15px;
      color: #298525;
      font-weight: 500;
  }
  
  .title-vendor-signup-title {
      color: #fff;
      font-weight: bold;
      margin: 0;
  }
  
  sup {
      font-size: 10px;
      padding-top: 1px;
  }
  
  .footer-title {
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      margin: 0;
      color: #707070;
  }
  
  .footer-paragraph {
      line-height: 26px;
  }
  
  .footer-link {
      text-decoration: none;
      color: #707070;
      font-size: 15px;
  }
  
  .coming-soon-title {
      margin: 0;
      font-size: 15px;
      font-weight: 400;
      color: #000000;
  }
  
  .col-1-title-lg {
      display: none;
  }
  
  /* Buttons */
  
  .menu-btn {
    z-index: 0;
    background: none;
    border: none;
    outline: none;
    padding: 7px;
    cursor: pointer;
  }

  .cancel-btn {
      z-index: 1;
      margin-bottom: 40px;
      display: flex;
      justify-content: flex-end;
      padding: 0 38px;
  }
  
  .hamburger-menu {
    height: 20px;
    width: auto;
  }
  
  .btn {
    height: 43px;
    background: none;
    border-radius: 29px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    display: grid;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    text-decoration: none;
  }
  
  .add-to-cart {
    background: #F2A133;
  }
  
  .added-to-cart {
    background: #BBBBBB;
  }
  
  /* Layout */
  
  .header-grid {
    display: flex;
    justify-content: space-between;
    padding: 23px 33px 33px;
    align-items: center;
    position: relative;
  }
  
  .logo-img {
    height: 27px;
    width: auto;
  }
  
  .logo-img-lg {
    display: none;
  }
  
  .nav-lists {
    display: none;
    flex-direction: column;
    grid-row-gap: 0;
    padding: 38px 0;
    position: fixed;
    list-style: none;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
    background: #298525;
    z-index: 1;
  }

  .nav-list-link {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      grid-column-gap: 40px;
      width: 100%;
      padding: 23px 0 23px 61px;
      justify-items: baseline;
      text-decoration: none;
      color: #fff;
      font-size: 20px;
  }

  .dark-icon {
      display: none;
  }

  .user-actions {
      display: grid;
      list-style: none;
      margin: 0;
      padding: 20px 60px 0;
      grid-row-gap: 43px;
  }

  .action-link {
      color: #F2A133;
      text-decoration: none;
      font-weight: 500;
      font-size: 20px;
  }

  .register-nav {
      font-size: 30px;
  }
  
  .intro-col {
    display: grid;
    grid-row-gap: 11px;
    margin: -97px 0 0;
  }
  
  .intro-img-lg {
    display: none;
  }
  
  .intro-img {
    height: 437px;
    object-fit: cover;
    object-position: center;
  }
  
  .fvp-logo {
      z-index: 0;
  }
  
  .main-grid {
    display: grid;
  }
  
  .intro-info {
    padding: 0 25px;
    display: grid;
    grid-row-gap: 24px;
    margin: 20px 0 0;
  }
  
  .start-shopping {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 18px;
    justify-content: center;
    color: #298525;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    height: 71px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 40px 80px #00000029;
    border-radius: 36px;
    text-decoration: none;
  }
  
  .col-1 {
      margin: 136px 0 0;
      display: grid;
      grid-row-gap: 42px;
      padding: 0 25px;
  }
  
  .col-1-box {
      display: grid;
      grid-row-gap: 12px;
  }
  
  .col-1-box-img {
      height: 284px;
      object-fit: cover;
      border-radius: 5px;
  }
  
  .col-1-box-info {
      margin: 11px 0 0;
      display: grid;
      grid-row-gap: 5px;
  }
  
  .col-2 {
      margin: 106px 0 0;
      display: grid;
      grid-row-gap: 35px;
      padding: 0 25px;
  }
  
  .col-2-vendor-slide {
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: 23px;
      overflow: auto;
  }
  
  .col-2-vendor {
      display: grid;
      grid-row-gap: 30px;
      justify-items: center;
  }
  
  .vendor-img {
      height: 203px;
      width: auto;
  }
  
  .view-vendors {
      background: #F2A133;
      height: 57px;
  }
  
  .col-3 {
      margin: 161px 21px 0;
      display: grid;
      grid-row-gap: 27px;
      justify-items: center;
      padding: 41px 35px 0;
      background: transparent radial-gradient(closest-side at 47% 80%, #FFDA72 0%, #F2A133 100%) 0% 0% no-repeat padding-box;
      border-radius: 23px;
  }
  
  .vendor-line-br {
      display: none;
  }
  
  .vendor-signup-btn {
      height: 50px;
      color: orange;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 20px 40px #00000029;
      border-radius: 34px;
      text-decoration: none;
      font-size: 17px;
      font-weight: 600;
      width: 175px;
  }
  
  .vendor-signup-img {
      height: 269px;
      width: auto;
      padding: 0 0 0 30px;
  }
  
  .footer-grid {
      display: grid;
      grid-row-gap: 75px;
      margin: 160px 0 0;
      padding: 124px 30px 40px;
      background: url(../public/images/footer-mobile.svg);
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  .footer-intro-col {
      display: grid;
      grid-row-gap: 32px;
  }
  
  .footer-logo {
      height: 41px;
      width: auto;
  }
  
  .footer-col-1 {
      display: grid;
      grid-row-gap: 42px;
  }
  
  .footer-socials {
      display: grid;
      grid-row-gap: 44px;
      color: #707070;
  }
  
  .footer-social {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-column-gap: 34px;
      align-items: center;
  }
  
  .footer-col-2 {
      display: grid;
      grid-row-gap: 32px;
  }
  
  .footer-link-lists {
      display: grid;
      grid-row-gap: 25px;
      list-style: none;
      padding: 0;
  }
  
  .footer-col-3 {
      display: grid;
      grid-row-gap: 14px;
      grid-column-gap: 15px;
  }
  
  .store-img {
      height: 54px;
      width: 206px;
      border: 5px;
      margin-bottom: 7px;
  }
  
  /* Register Page  */
  
  .reg-grid {
      display: grid;
      align-items: center;
      padding: 83px 16px 71px;
      background: url(../public/images/reg-img.svg), #7A7A7A 0% 0% no-repeat padding-box;
      background-blend-mode: multiply;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
  }
  
  .reg-image {
      display: none;
  }
  
  .form-info {
      display: flex;
      flex-direction: column;
      height: 658px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 20px 40px #4646461C;
      border-radius: 7px;
      padding: 30px 16px;
      align-items: baseline;
  }
  
  .form-logo {
      height: 37px;
      width: auto;
  }
  
  .form-title {
      font-size: 16px;
      color: #7E7E7E;
      margin: 21px 0 0;
      font-weight: 500;
  }
  
  .form-block {
      margin: 27px 0 0;
      display: grid;
      grid-row-gap: 11px;
      width: 100%;
  }
  
  .input-block {
      display: grid;
      grid-row-gap: 9px;
      position: relative;
  }
  
  .input-title {
      font-size: 15px;
      font-weight: 400;
      color: #333333;
  }
  
  .input-box {
      height: 42px;
      border: none;
      background: #F3F3F3 0% 0% no-repeat padding-box;
      border-radius: 3px;
      padding: 0 16px;
      outline: none;
  }
  
  .submit-btn {
      background: #F2A133;
      width: 166px;
      height: 44px;
      border-radius: 36px;
  }
  
  .form-option {
      color: #6F6F6F;
      margin: 26px 0 0;
  }
  
  .form-link {
      color: #298525;
      font-weight: 500;
      text-decoration: none;
  }

  .log-in-form {
      height: auto;
  }

  .log-in-option {
      display: grid;
      grid-row-gap: 21px;
      margin: 35px 0 0;
  }

  .login-ask {
      margin: 0;
  }

/*   List of vendors */

  .vendor-list-grid {
      padding: 20px;
      grid-row-gap: 23px;
  }

  .select-city {
      display: none;
  }

  .search-btn {
      display: none;
  }

  .search-box {
      display: grid;
      position: relative;
  }

  .search {
      height: 46px;
      background: #F7F7F7 0% 0% no-repeat padding-box;
      border-radius: 23px;
      border: none;
      padding: 0 26px;
      outline: none;
  }

  .search-icon {
      position: absolute;
      height: 14px;
      width: auto;
      top: 0;
      bottom: 0;
      right: 28px;
      margin: auto 0;
  }

  .search::placeholder {
      color: #7A7A7A;
      font-size: 14px;
      font-weight: 400;
  }

  .vendors-list {
      display: grid;
      grid-row-gap: 40px;
  }

  .goods {
      display: grid;
      grid-row-gap: 20px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 5px 10px #0000001A;
      border-radius: 3px;
      padding-bottom: 20px;
  }

  .goods-img {
      border-radius: 3px 3px 0px 0px;
      height: 206px;
      object-fit: cover;
  }

  .goods-info {
      margin: 0 20px;
      display: grid;
      grid-row-gap: 7px;
  }

  .goods-title {
      margin: 0;
      font-size: 16px;
      color: #298525;
      font-weight: 600;
  }

  .goods-paragraph {
      font-size: 14px;
      font-weight: 400;
      color: #404040;
  }

  .visit-btn {
      background: #F2A133 0% 0% no-repeat padding-box;
      border-radius: 29px;
      text-decoration: none;
      margin: 0 20px;
      font-size: 14px;
      font-weight: 400;
  }

/*   Forgot Password   */

  .forgotpwd-title::before {
      content: "Email";
      position: absolute;
      font-size: 9px;
      font-weight: 500;
      background: #fff;
      left: 15px;
      top: -10px;
      padding: 4px 8px;
  }

  .reset-btn {
      margin: 17px 0 0;
      width: 220px;
      height: 45px;
  }

  /* Reset Link Sent Modal */

  .reset-link-sent-grid {
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: rgb(255 255 255 / 85%); /* Black w/ opacity */
      z-index: 1;
      height: 100vh;
  }
  
  .reset-link-box {
      position: relative;
      margin: auto 12px;
      max-width: 411px;
      background: #fff;
      display: grid;
      grid-row-gap: 26px;
      grid-template-rows: repeat(5, 1fr);
      padding: 36px 48px 62px;
      box-shadow: 0px 20px 40px #4646461C;
      border-radius: 7px;
      max-height: 501px;
  }

  .reset-img {
      height: 78px;
      width: auto;
  }

  .resent-link-sent-info {
      display: grid;
      grid-row-gap: 16px;
  }

  .reset-title {
      color: #298525;
      font-weight: 500;
  }

  .reset-paragraph {
      line-height: 27px;
  }

  .mail-btn {
      width: 199px;
      height: 45px;
      font-size: 15px;
  }

/*   Registeration Successful */

  .reg-success {
      align-content: center;
      max-height: 413px;
      padding: 53px 46px;
      display: flex;
      flex-direction: column;
      align-items: baseline;
  }

/*   Rest link set page */

  .reset-grid {
      grid-row-gap: unset;
      padding: 53px 41px;
  }

  .reset-link-info {
      display: flex;
      flex-direction: column;
      margin: 35px 0 0;
      grid-row-gap: unset;
  }

  .resent-link-text {
      font-size: 13px;
      color: #7E7E7E;
      line-height: 23px;
      border-bottom: 1px solid #7e7e7e3b;
      padding: 0 60px 17px 0;
  }

  .reset-link-paragraph {
      margin: 15px 0 0;
      font-size: 13px;
      color: #7E7E7E;
      font-weight: 500;
  }

  .change-mail {
      text-decoration: none;
      color: #298525;
  }

/*   Vendors Store Page */

  .vendors-store-grid {
      padding: 0 33px;
  }

  .vendor-owner {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-column-gap: 18px;
      align-items: center;
  }

  .owner-info {
      display: flex;
      flex-direction: column;
      grid-row-gap: 15px;
  }

  .owner-img {
      height: 85px;
      width: auto;
  }

  .owner-info-title {
      margin: 0;
      font-size: 20px;
      font-weight: bold;
      color: #298525;
  }

  .owner-location {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-column-gap: 13px;
      align-items: end;
  }

  .location-icon {
      height: 16px;
      width: auto;
  }

  .location-info {
      margin: 11px 0 0;
      font-size: 15px;
  }

  .store-grid {
      margin: 31px 0 0;
      display: grid;
      grid-row-gap: 30px;
  }

  .store-cart {
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 3px;
      padding: 25px 18px;
      display: grid;
      grid-row-gap: 20px;
  }

  .cart-head {
      display: grid;
      background: url(../public/images/apple.png), linear-gradient(180deg, transparent 0%, #000000e8 100%);
      background-position: center;
      background-size: cover;
      background-blend-mode: multiply;
      color: #fff;
      height: 140px;
      border-radius: 3px;
      align-items: end;
      padding: 10px 20px;
      font-size: 16px;
      font-weight: 600;
  }

  .cart-head-img {
        display: none;
    }

    .cart-info {
      display: grid;
      grid-row-gap: 20px;
  }

  .cart-info-title {
      display: none;
  }

  .cart-info-number {
      margin: 0;
      display: inline;
      font-size: 25px;
      color: #404040;
      font-weight: bold;
  }

  .cart-paragraph {
      font-size: 14px;
      color: #7A7A7A;
  }

  .cart-btn {
      background: #F2A133 0% 0% no-repeat padding-box;
      border-radius: 29px;
  }

/*   Cart Page */

  .cart-block {
      display: grid;
      padding: 11px 33px 0;
      grid-row-gap: 8px;
  }

  .cart-block-title {
      margin: 0;
      font-size: 25px;
      font-weight: 600;
      color: #298525;
  }

  .cart-block-paragraph {
      font-size: 16px;
      color: #404040;
  }

  .cart-number {
      display: inline;
      font-weight: bold;
      padding-left: 4px;
  }
  
  .carts {
      margin: 40px 0 150px;
      display: grid;
      grid-row-gap: 30px;
  }

  .cart-item {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-column-gap: 28px;
      padding: 0 33px;
      align-items: center;
  }

  .item-img {
      height: 112px;
      width: auto;
      border-radius: 3px;
  }

  .cart-item-info {
      display: flex;
      flex-direction: column;
  }

  .item-info-number {
      margin: 0;
      font-size: 15px;
      color: #232323;
      font-weight: bold;
  }

  .item-info-title {
      font-size: 15px;
      margin: 10px 0 0;
      color: #232323;
  }

  .select-input {position:relative;border: none;width: 25px;background: transparent;}
  .select-input select {position:absolute;top: 2px;left:0px;border:none;width: 42px;margin:0;background: transparent;font-size: 15px;font-weight: 500;color: #404040;}
  .select-input input {position:absolute;top: 2px;left:0px;height: 19px;width: 25px;padding:1px;font-size: 15px;font-weight: 500;color: #404040;border:none;}
  .select-input select:focus, .select-input input:focus {outline:none;}
  .quantity-input {
      display: grid;
      grid-template-columns: auto 1fr;
      margin: 30px 0 0;
      align-items: flex-start;
      grid-column-gap: 10px;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  .quantity-title {
      font-size: 15px;
      font-weight: 500;
      color: #404040;
  }

  .cart-total {
      display: flex;
      justify-content: space-between;
      padding: 24px 20px;
      align-items: center;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 0px 13px #00000029;
      position: fixed;
      bottom: 0;
      width: 100%;
  }

  .cart-total-numnbers {
      display: flex;
      flex-direction: column;
  }

  .total-title {
      color: #404040;
      font-size: 12px;
      margin: 0;
  }

  .total-number {
      margin: 6px 0 0;
      font-size: 16px;
      color: #404040;
      font-weight: bold;
  }

  .checkout-btn {
      color: #fff;
      background: #F2A133;
      border-radius: 26px;
      width: 190px;
      height: 50px;
  }

  .item-info-lg {
      display: none;
  }

  .cart-total-lg {
      display: none;
  }

  .cart-shopping-lg {
      display: none;
  }
  
  @media screen and (min-width: 1024px) {
    .header-grid {
        max-width: 1024px;
        margin: 0 auto;
    }

    .fvp-logo {
        z-index: 2;
    }
  
    .logo-img {
        height: 37px;
        display: none;
    }
  
    .logo-img-lg {
        display: block;
        height: 37px;
    }
  
    .menu-btn {
        display: none;
    }

    .nav-lists {
        display: grid;
        grid-auto-flow: column;
        background: none;
        width: 1024px;
        right: 0;
        left: 0;
        top: 0;
        margin: 0 auto;
        justify-content: flex-end;
        grid-column-gap: 47px;
        position: absolute;
        padding: 0 50px 0 0;
        align-items: center;
    }

    .nav-list-link {
        padding: 0;
        font-size: 15px;
        grid-column-gap: unset;
    }

    .list-link-text {
        display: none;
    }

    .list-link-icon {
        height: 25px;
        width: auto;
    }

    .light-icon {
        display: none;
    }

    .dark-icon {
        display: block;
    }

    .user-actions {
        grid-auto-flow: column;
        grid-column-gap: 15px;
        padding: 0;
        margin-left: 10px;
    }

    .action-link {
        font-size: 15px;
        font-weight: bold;
        border: 2px solid #F2A133;
        padding: 6px 20px;
        border-radius: 76px;
    }

    .register-nav {
        font-size: 15px;
        background: #F2A133;
        color: #fff;
        padding: 6px 25px
    }
  
    .main-grid {
        max-width: 1024px;
        margin: 0 auto;
    }
  
    .intro-col {
        margin: -132px 0 0;
        grid-template-columns: auto auto;
        grid-column-gap: 20px;
        padding: 0 33px 0;
    }
  
    .intro-img {
        display: none;
    }
  
    .intro-img-lg {
        display: block;
        grid-column: 2;
        grid-row: 1 / -1;
        height: 600px;
        width: auto;
    }
  
    .intro-info {
        display: grid;
        grid-row-gap: 27px;
        align-self: end;
        padding: 0 0 60px;
        margin: 0;
    }
  
    .intro-title {
        font-size: 43px;
        line-height: 66px;
        color: #575757;
    }
  
    .start-shopping {
        max-width: 258px;
        height: 71px;
        margin: 7px 0 0;
    }
  
    .col-1 {
        margin: 0;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 28px;
        padding: 142px 33px;
        background: url(../public/images/yellow.svg);
        background-repeat: no-repeat;
        background-size: auto;
    }
  
    .add-to-cart {
        width: 147px;
    }
  
    .added-to-cart {
        width: 166px;
    }
  
    .col-1-title-lg {
        display: block;
        margin: 0;
        grid-column: 1 / -1;
    }
  
    .col-2 {
        margin: 0;
    }
  
    .col-3 {
        padding: 0;
        display: grid;
        grid-template-columns: 140px auto auto;
        justify-content: space-between;
        align-items: center;
        padding: 0 100px 0 40px;
        height: 235px;
        position: relative;
        background: transparent radial-gradient(closest-side at 14% 60%, #FFDA72 0%, #F2A133 100%) 0% 0% no-repeat padding-box;
        margin: 200px 33px 0;
    }
  
    .vendor-line-br {
        display: grid;
    }
  
    .vendor-signup-img {
        grid-column: 1;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 319px;
        padding: 0;
    }
  
    .title-vendor-signup-title {
        grid-column: 2;
        font-size: 40px;
        font-weight: bold;
        width: 245px;
        padding: 0;
        line-height: 49px;
        margin: 0 0 0 52px;
    }
  
    .vendor-signup-btn {
        font-size: 16px;
        grid-column: 3;
        width: 210px;
        height: 52px;
        font-weight: 600;
    }
  
    .view-vendors {
        width: 232px;
        justify-self: center;
        margin: 17px 0 0;
    }
  
    .footer-grid {
        grid-template-columns: repeat(3, auto);
        justify-content: space-around;
        background: url(../public/images/footer-bg.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        padding: 180px 0 50px;
        margin: 0;
        align-items: baseline;
    }
  
    .footer-intro-col {
        grid-template-rows: auto 1fr;
    }
  
    .footer-col-1 {
        grid-template-rows: auto 1fr;
    }
  
    .footer-socials {
        display: flex;
        flex-direction: column;
    }
  
    .footer-intro-col {
        max-width: 396px;
        grid-column: 1;
        grid-row: 1 / -1;
    }
  
    .footer-col-3 {
        grid-column: 1;
        grid-row: 1 / -1;
        align-self: end;
        grid-template-columns: auto auto;
    }
  
    .coming-soon-title {
        grid-column: 1 / -1;
    }
  
  /*   Register Page */
    .reg-grid {
        padding: 0;
        background: none;
        grid-template-columns: 1fr 1fr;
    }
  
    .reg-image {
        display: block;
        grid-column: 1;
        grid-row: 1 / -1;
        height: inherit;
        object-fit: cover;
    }
  
    .form-info {
        width: 411px;
        margin: 0 auto;
    }

/*     List of vendors */
    
    .search-grid {
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        grid-column-gap: 13px;
    }

    .select-city {
        display: grid;
        background: #F7F7F7 0% 0% no-repeat padding-box;
        border-radius: 30px;
        border: none;
        padding: 0 30px;
        appearance: none;
        width: 274px;
        outline: none;
        color: #7A7A7A;
        font-size: 15px;
        cursor: pointer;
    }

    .search-box {
        width: 344px;
    }

    .search-icon {
        display: none;
    }

    .search-btn {
        display: grid;
        width: 202px;
        background: #F2A133 0% 0% no-repeat padding-box;
        border-radius: 29px;
    }

    .select-city-box {
        display: grid;
        position: relative;
    }

    .select-city-box::before {
        content: "";
        position: absolute;
        right: 33px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        border-top: 2px solid #707070;
        border-left: 2px solid #707070;
        height: 7px;
        width: 7px;
        transform: rotate(224deg);
    }

    .vendors-list {
        grid-template-columns: repeat(4, 227px);
        grid-column-gap: 45px;
        justify-content: center;
        margin: 53px 0;
    }

    .reset-link-box {
        margin: auto;
    }

    .resent-link-text {
        padding-right: 80px;
    }

    .vendors-store-grid {
        padding: 0;
        position: relative;
        max-width: unset;
    }

    .vendor-head {
        background: #FAFAFA;
        display: grid;
        padding: 0 33px;
    }

    .vendor-owner {
        height: 218px;
        padding: 0;
        grid-column-gap: 28px;
    }

    .owner-img {
        height: 129px;
    }

    .owner-info-title {
        font-size: 30px;
    }

    .location-info {
        margin: 0;
    }

    .store-grid {
        max-width: 970px;
        margin: 31px auto;
    }

    .store-cart {
        grid-template-columns: auto 1fr;
        grid-column-gap: 40px;
        grid-row-gap: 30px;
        padding: 0;
        box-shadow: none;
    }

    .cart-head {
        background: none;
        height: unset;
        padding: 0;
    }

    .cart-head-title {
        display: none;
    }

    .cart-head-img {
        display: block;
        width: 190px;
        height: 140px;
        object-fit: cover;
    }

    .cart-info {
        grid-template-columns: auto auto 1fr;
        align-items: center;
        grid-column-gap: 51px;
        grid-row-gap: unset;
    }

    .cart-info-title {
        display: block;
        margin: 0;
        grid-column: 1 / -1;
    }

    .cart-info-number {
        grid-column: 2;
        grid-row: 2;
    }

    .cart-paragraph {
        grid-column: 1;
        grid-row: 2;
        width: 256px;
        line-height: 23px;
    }

    .cart-btn {
        grid-row: 2;
        grid-column: 3;
        width: 222px;
        height: 50px;
        margin-left: 46px;
    }

    .cart-grid {
        max-width: 740px;
        margin-top: 8px;
    }

    .carts {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 10px 20px #0000001A;
        border-radius: 5px;
        padding: 41px 0 50px;
        margin: 20px 0 150px;
    }

    .cart-block {
        padding: 0;
    }

    .cart-total {
        display: none;
    }

    .cart-item {
        grid-column-gap: 18px;
    }

    .cart-item-info {
        display: none;
    }

    .item-img {
        width: 87px;
        height: 73px;
        border-radius: 5px;
        object-fit: cover;
    }

    .item-info-lg {
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 62px;
        align-items: center;
    }

    .item-info-lg-col-1 {
        display: flex;
        flex-direction: column;
    }

    .info-lg-title {
        margin: 0;
        font-size: 15px;
        font-weight: 500;
        color: #404040;
    }

    .info-lg-paragraph {
        margin: 12px 0 0;
        font-size: 14px;
        line-height: 22px;
        color: #7A7A7A;
        width: 201px;
    }

    .item-info-lg-col-2 {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 10px;
        align-items: center;
    }

    .value-btn {
        border: none;
        padding: 0;
        margin: 0;
        font-size: 30px;
        font-weight: 100;
        font-family: 'Montserrat';
        color: #7A7A7A;
        background: none;
        outline: none;
        cursor: pointer;
    }

    .quantity-text-lg {
        border: none;
        font-size: 15px;
        width: 27px;
        text-align: center;
        height: 100%;
        color: #404040;
        outline: none;
    }

    .item-info-lg-col-3 {
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 20px;
        align-items: center;
    }

    .item-info-number {
        font-size: 20px;
        font-weight: 500;
        color: #404040;
    }

    .remove-btn {
        border: none;
        background: none;
        padding: 0;
        margin: 0;
        display: flex;
        outline: none;
        cursor: pointer;
    }

    .remove-img {
        height: 13px;
        width: auto;
    }

    .cart-total-lg {
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 43px;
        justify-content: end;
        align-items: center;
        padding: 13px 33px;
        border-radius: 3px;
        background: #F6F6F6;
        margin: 0 33px;
    }

    .total-title-lg {
        margin: 0;
        font-size: 20px;
        font-weight: 500;
        color: #404040;
    }

    .total-number-lg {
        font-size: 20px;
        font-weight: 500;
        display: flex;
        color: #404040;
        margin: 0;
    }

    .cart-shopping-lg {
        display: flex;
        justify-content: space-between;
        margin: 13px 33px 0;
    }

    .continue-shopping {
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 13px;
        align-items: center;
        text-decoration: none;
        color: #A5A5A5;
        font-size: 15px;
        cursor: pointer;
    }

    .checkout-btn {
        width: 178px;
        height: 40px;
        background: #F2A133 0% 0% no-repeat padding-box;
        border-radius: 26px;
        box-shadow: none;
    }
  }
  
  @media screen and (min-width: 1360px) {
    .header-grid {
      max-width: 1250px;
      padding: 45px 0;
    }

    .nav-lists {
        width: 1250px;
    }
  
    .main-grid {
      max-width: 1250px;
    }
  
    .intro-col {
        grid-column-gap: 60px;
        padding: 0;
    }
  
    .intro-img-lg {
      height: 724px;
    }
  
    .intro-info {
        padding: 20px 0 0;
        align-self: center;
        grid-row-gap: 26px;
    }
  
    .intro-title {
        font-size: 45px;
        line-height: 68px;
    }
  
    .intro-paragraph {
        padding: 0 95px 0 0;
    }
  
    .col-1 {
      margin-top: -88px;
    }
  
    .col-3 {
        grid-template-columns: repeat(3, auto);
        margin: 200px 0;
        padding-right: 139px;
    }
  
      .footer-grid {
        justify-content: center;
        grid-column-gap: 220px;
    }
  
    .form-info {
        width: 500px;
    }

    .vendors-store-grid {
        max-width: unset;
    }

    .vendor-owner {
        width: 1254px;
        margin: 0 auto;
    }

    .store-grid {
        width: 1254px;
        max-width: unset;
    }

    .cart-grid {
        max-width: 740px;
    }
  }
